# {{NAME}}

**Version**: 1.0.0
**Author**: {{AUTHOR}}

---

## Name

`{{NAME}}` - {{DESCRIPTION}}

---

## Synopsis

```bash
{{NAME}} [OPTIONS] [ARGS]
```

---

## Description

{{DESCRIPTION}}

Add more detailed description here.

---

## Options

### General Options

- `-h, --help` - Show help message
- `--version` - Show version information

---

## Examples

### Basic Usage

```bash
# Show help
{{NAME}} --help

# Show version
{{NAME}} --version
```

---

## Files

- `$UTILZ_HOME/opt/{{NAME}}/{{NAME}}` - Implementation
- `$UTILZ_HOME/opt/{{NAME}}/{{NAME}}.yaml` - Metadata
- `$UTILZ_HOME/bin/{{NAME}}` - Symlink to dispatcher

---

## Environment

- `UTILZ_HOME` - Root directory of Utilz framework

---

## Exit Status

- `0` - Success
- `1` - General error

---

## See Also

- `utilz(1)` - Utilz framework dispatcher
- `utilz-help(1)` - Show help for utilities

---

## Author

{{AUTHOR}}

---

## Copyright

Copyright (c) {{YEAR}} {{AUTHOR}}
Part of the Utilz framework.
